<h1>The Coder Factory<br>
Learn to Code: Weekend Workshop <span class="glyphicon glyphicon-upload"></span></h1>
<h3><%= @greeting +" "+ @name %></h3>
<hr>
<a href="http://www.google.com.au"><img src="http://dropdeadgorgeousdaily.com/wp-content/uploads/2013/06/net-a-porter-sale-640x239.jpg" alt="SALE!" title="The greatest sale in the world" class="img-responsive"></a>
<div style="width:640px; " >
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
	<p><a href="http://www.google.com.au">Google's</a></p>
<hr>
<ul>
	<li><%= @animal [0] == 'Horse' or 'Cat' %></li>
	<li><% if (@animal == 'Horse') %>Nay<%else%>Not nay<% end %></li>
	<li><%= @animal [1] %></li>
	<li><%= @animal [2] %></li>
	<li><%= @animal [3] %></li>
	<li><%= @animal [4] %></li>
	<li><%= @animal [5] %></li>
</ul>
<hr>
<ul>
	<% @animal.each do |x| %>
	<li>
		<%= x %>
	</li>
	<% end %>
</ul>
<ol>
	<li>Toothpaste</li>
	<li>Toilet paper</li>
	<li>Cat food</li>
</ol>
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>DOB</th>
		<th>email</th>
	</tr>
	<tr>
		<td>Robert Nixon</td>
		<td>10/10/1970</td>
		<td>robert.nixon@mac.com</td>
	</tr>
</table>